<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="col-md-12">
        <strong>Item Name :</strong> <input type="text" id="txtItemName" />
    </div>
    <div class="col-md-12">
        <strong>Item Description : </strong><input type="text" id="txtItemDesc" />
    </div>
</body>

</html>
